@import '~@angular/material/theming';
@include mat-core();


$eye-witness-app-primary: mat-palette($mat-blue-grey,800);
$eye-witness-app-accent:  mat-palette($mat-red, A200);

$eye-witness-app-warn:    mat-palette($mat-red);

$eye-witness-app-theme: mat-light-theme((
  color: (
    primary: $eye-witness-app-primary,
    accent: $eye-witness-app-accent,
    warn: $eye-witness-app-warn,  
  )
));

@include angular-material-theme($eye-witness-app-theme);